body {
    background-color: rgb(215, 243, 252);
}

h1, h4 {
    color: rgb(43, 43, 143);
    text-align: center;
}

/*h1 {
    TODO: figure out icicle font
}*/

h1, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    font-size: 3.5em;
}

.welcome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
}

button {
    width: 20%;
    margin: auto;
    padding: 5px;
}

#divButtons {
    width: 66%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#divFoot {
    width: 98%;
    margin: 5px;
    border: medium outset navy;
    border-radius: 8px;
    position: fixed;
    bottom: 0;
}